<button mat-fab color="primary" aria-label="Example icon button with a delete icon" (click)="addProduct()">
    <mat-icon>add</mat-icon>
</button>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <ng-container matColumnDef="sku">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> SKU. </th>
      <td mat-cell *matCellDef="let element"> {{element.sku}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="nombre" >
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre del Producto </th>
      <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
    </ng-container>
    <!-- Symbol Column -->
    <ng-container matColumnDef="cantidad">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Cantidad </th>
      <td mat-cell *matCellDef="let element"> {{element.cantidad}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="precio">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Precio </th>
      <td mat-cell *matCellDef="let element"> {{element.precio | currency}} </td>
    </ng-container>
    <ng-container matColumnDef="fechaVencimiento">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha de Vencimiento </th>
      <td mat-cell *matCellDef="let element"> {{element.fechaVencimiento}} </td>
    </ng-container>
    <ng-container matColumnDef="acción">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Acción </th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button class="deleteIcon" (click)="deleteProduct(element)">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>

