<mat-sidenav-container autosize>
    <mat-sidenav #sidenav mode="side" opened="true">
        <mat-nav-list>
            <mat-list-item>
                <img class="logo" src="../../../../assets/alicorp.png" alt="placeholder=" (click)="isExpanded = !isExpanded" [ngClass]="{'rotated': isExpanded}">
                
            </mat-list-item>
            <mat-list-item [routerLink]="'sell'">
                <mat-icon mat-list-icon class="">shopping_basket</mat-icon>
                <span *ngIf = "isExpanded">Mis ventas</span>
            </mat-list-item>
            <mat-list-item [routerLink]="'dashboard'">
                <mat-icon mat-list-icon class="">widgets</mat-icon>
                <span *ngIf = "isExpanded">Mi Dashboard</span>
            </mat-list-item>
            <mat-list-item [routerLink]="'info'">
                <mat-icon mat-list-icon class="">inventory_2</mat-icon>
                <span *ngIf = "isExpanded"> Mi Inventario</span>
            </mat-list-item>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar>
            <i class="bi bi-bell"></i>
            <img class="img-responsive" src="../../../../assets/Photo.png" alt="placeholder" />
            <h2>Pepito de los Palotes</h2>
        </mat-toolbar>
            <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>