<section class="section">
    <div class="columnone">
        <div class="columns">
            <div class="card text-bg-danger mb-3" style="max-width: 18rem;">
                <div class="card-body">
                    <h1 class="card-title"><strong>S/.90.20</strong></h1>
                    <h5 class="card-text">Ventas Totales del Día.</h5>
                </div>
            </div>
            <div class="card text-bg-danger mb-3" style="max-width: 18rem;">
                <div class="card-body">
                    <h1 class="card-title"><strong>S/.65.80</strong></h1>
                    <h5 class="card-text">Ganancias Totales del Día.</h5>
                </div>
            </div>
        </div>
        <app-horizontal-chart></app-horizontal-chart>
        <app-horizontalminus-chart></app-horizontalminus-chart>
    </div>
    <div class="columntwo">
    <div class="table">
        <app-table-chart></app-table-chart>
    </div>
    <app-horizontal-margin></app-horizontal-margin>
    </div>
</section>